* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

body,body>section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

body>section {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

body>section>button {
    font-size: 5vh;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    flex-grow: 1;
}

button:hover {
   background-color:  rgba(255,255,0,0.5);
} 

#info {
    display: none;
}

button[data-active="1"] {
    background-color: rgba(255,0,0,0.5);
    color: white;
}

/*
#clicks button[data-button="1"] {
    background: repeating-linear-gradient(
        90deg,
        red,
        red 30%,
        green 60%,
        green 60%
    );
}
*/
