
.icon-music:before { content: '\e800'; } /* '' */
.icon-pencil-squared:before { content: '\e802'; } /* '' */
.icon-bug:before { content: '\e803'; } /* '' */
.icon-square-outline:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-square:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-settings:before { content: '\e809'; } /* '' */